.badge-container {
    min-width: 1.5em;
    background-color: red;
    border-radius: 2em;
    margin-right: 0.5em;
}

.badge {
    padding: 2px;
    text-align: center;
    color: white;
    font-weight: bold;
}