/*TODO: change the bg colour to show the actual homepage, for now homepage is the login form*/
.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;

}

body{
  background-color: #57C586;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  background-color: white;

}

.auth-form-container {
  padding: 5rem;
  border: 5px solid black;
  border-radius: 10px;
}


.label-logreg {
  padding: 0.25em;
  text-align: left;
  color: black;
  font-weight: 600;
  font-size: larger;
}

.input-logreg {
  margin: 0.5rem 0;
  padding: 1rem;
  border-color: #aa77ff;
  border-radius: 10px;
}

.login-reg-btn,
.link-btn {
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.login-reg-btn {
  border-color: #aa77ff;
  color: rgb(167, 137, 244);
  font-weight: 700;
  font-size: 16px;
}

.link-btn {
  background: none;
  color: black;
  border: none;
  text-decoration: underline;
}
.form-error {
  font-size: 14px;
  color: red;
}
button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}