/*TODO: change the bg colour to show the actual homepage, for now homepage is the login form*/
.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(79deg, #62cdff, #97deff 48%, #c9eeff);
}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
}

.auth-form-container {
  padding: 5rem;
  border: 1px solid white;
  border-radius: 10px;
}

.h2-logreg {
  color: white;
}

.label-logreg {
  padding: 0.25em;
  text-align: left;
  color: white;
  font-weight: 600;
}

.input-logreg {
  margin: 0.5rem 0;
  padding: 1rem;
  border-color: #aa77ff;
  border-radius: 10px;
}

.login-reg-btn,
.link-btn {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.login-reg-btn {
  border-color: #aa77ff;
  color: rgb(167, 137, 244);
  font-weight: 700;
  font-size: 16px;
}

.link-btn {
  background: none;
  color: white;
  border: none;
  text-decoration: underline;
}
.form-error {
  font-size: 14px;
  color: red;
}

